<div class="container">
  <h2>Add New Country</h2>
  <form #addcountryform="ngForm" (ngSubmit)="addCountryFormSubmit()">
    <div class="form-group">
      <label for="Country Name">Country Name</label>
      <input type="text" class="form-control" [(ngModel)]="country.countryname" name="countryname" required>
    </div>
    <div class="form-group">
      <label for="id">Country Code</label>
      <input type="text" class="form-control" [(ngModel)]="country.countrycode" name="countrycode" required>
    </div>
    <div class="form-group">
      <label for="id">Capital City</label>
      <input type="text" class="form-control" [(ngModel)]="country.countrycapitalcity" name="countrycapitalcity" required>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>&nbsp;
    <button type="button" class="btn btn-primary" (click)="goToCountryList()">Back</button>
  </form>
</div>
